// custom variables
$primary: #ef7c8e;
$secondary: #b6e2d3;
$light: #f3fffb;

// import the functions & variables
@import '../node_modules/bootstrap/scss/_functions';
@import '../node_modules/bootstrap/scss/_variables';

$custom-theme-colors: (
  'altlight': #fff6f7,
  'altdark': #61252e,
);

$theme-colors: map-merge($custom-theme-colors, $theme-colors);

// import bootstrap
@import '../node_modules/bootstrap/scss/bootstrap';
